@import url('https://fonts.googleapis.com/css2?family=Itim&family=Kalam&display=swap');

:root {
    --light-blue: #92a8d1;
    --blue: #034f84;
    --light-pink: #f7cac9;
    --pink: #f7786b;

    --kalam: 'Kalam', cursive;
    --itim: 'Itim', cursive;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

#countdown {
    width: 100vw;
    height: 100vh;

    text-align: center;
    color: white;
}

#countdown h1 {
    padding: 0;
    margin: 0;

    font-family: var(--kalam);
    font-size: 15vmin;
}

#countdown h2 {
    padding: 0;
    margin: 0;

    font-family: var(--kalam);
    font-size: 10vmin;
}

#countdown h3 {
    padding: 0;
    margin: 0;

    font-family: var(--kalam);
    font-size: 5vmin;
}

#countdown p {
    padding: 0;
    margin: 0;

    font-family: var(--itim);
    font-size: 15vmin;
}